.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 40px;
  max-inline-size: 540px;
  margin: auto;
  /* margin-block: 40px;
 */
}
.form p {
  color: var(--second-color);
  text-align: center;
}

.form label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: var(--primary-color);
}
.form input,
.form textarea {
  border: 1px solid #858c94;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  width: 100%;
  font-family: var(--font-primary);
  margin-block-start: 8px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .form .title {
    align-self: stretch;
  }
}
