@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&display=swap");

@import "./reset.css";
@import "./header.css";
@import "./hero.css";
@import "./projects.css";
@import "./author-message.css";
@import "./testimonios.css";
@import "./form.css";
@import "./footer.css";
@import "./componentes/button.css";
@import "./componentes/social.css";
@import "./componentes/wrapper.css";
@import "./componentes/title.css";

:root {
  /* Colors */
  --primary-color: #310a90;
  --second-color: #fff;
  --bg-gradient: radial-gradient(
      41.48% 11.48% at 2.38% 8.52%,
      #747de9 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(135deg, #72edf2 0%, #5151e5 100%);

  /* Fonts */
  --primary-font: "Poppins", sans-serif;
  --second-font: "Oxygen", sans-serif;
  font-family: var(--primary-font);
}
html {
  scroll-behavior: smooth;
}
